<div class="well well-sm extra-padding-bottom">

    <h3>{{sectionTitle}}</h3>

      <div class="form-inline">

        <div class="form-group has-feedback {{unless isCounterValid 'has-error'}}">
          <label class="control-label">Number of new records:</label>
          {{input value=counter class='form-control' placeholder=placeholder}}
        </div>

        <button class="btn btn-primary" {{action 'generateAction'}} disabled={{if isCounterValid false true}}>Generate {{sectionTitle}}</button>
        {{#fader-label isShowing=createReady}}Created!{{/fader-label}}

        <button class="btn btn-danger" {{action 'deleteAction'}}>Delete All {{sectionTitle}}</button>
        {{#fader-label isShowing=deleteReady}}Deleted!{{/fader-label}}
      </div>

</div>