<div class="card h-100">
  <div class="card-header">
    {{@item.name}}
  </div>
  <div class="card-body">
    <p class="card-text">Address: {{@item.address}}</p>
    <p class="card-text">Phone: {{@item.phone}}</p>
  </div>
  <div class="card-footer">
    Number of books:
    <span class="text-left badge">
      {{@badge}}
    </span>
    <span class="pull-right">
      {{yield}}
    </span>
  </div>
</div>

