<div class="well well-sm extra-padding-bottom">
  <h3>{{@sectionTitle}}</h3>
  <div class="form-inline">
    <div class="form-group has-feedback {{unless this.isCounterValid "has-error"}}">
      <label class="control-label">Number of new records:</label>
      <Input @value={{this.counter}} class="form-control" placeholder={{this.placeholder}} />
    </div>
    <button class="btn btn-primary" {{on 'click' this.generate}} disabled={{this.generateIsDisabled}} type="button">
      {{#if @seedingInProgress}}
        <span class="glyphicon glyphicon-refresh spinning"></span> Generating...
      {{else}}
        Generate {{@sectionTitle}}
      {{/if}}
    </button>
    <button class="btn btn-danger pull-right" {{on 'click' this.delete}} disabled={{this.deleteIsDisabled}} type="button">
      {{#if @deletingInProgress}}
        <span class="glyphicon glyphicon-refresh spinning"></span> Deleting...
      {{else}}
        Delete All {{@sectionTitle}}
      {{/if}}
    </button>
  </div>
</div>