<h1>Seeder, our Data Center</h1>

<div class="row">
  <div class="col-md-4"><NumberBox @title="Libraries" @number={{this.libraries.length}} /></div>
  <div class="col-md-4"><NumberBox @title="Authors" @number={{this.authors.length}} /></div>
  <div class="col-md-4"><NumberBox @title="Books" @number={{this.books.length}} /></div>
</div>

<div class="alert alert-info alert-fade {{if this.seederService.doneMessage 'alert-show'}}">
  {{ this.seederService.doneMessage }}
</div>

<SeederBlock
  @sectionTitle="Libraries"
  @seederTask={{this.seederService.seedRandomLibraries}}
  @destroyerTask={{this.seederService.deleteLibraries}}
  @seedingInProgress={{this.seederService.seedRandomLibraries.isRunning}}
  @deletingInProgress={{this.seederService.deleteLibraries.isRunning}}
/>

<SeederBlock
  @sectionTitle="Authors with Books"
  @seederTask={{this.seederService.seedRandomAuthorsWithBooks}}
  @destroyerTask={{this.seederService.deleteAuthorsAndTheirBooks}}
  @seedingInProgress={{this.seederService.seedRandomAuthorsWithBooks.isRunning}}
  @deletingInProgress={{this.seederService.deleteAuthorsAndTheirBooks.isRunning}}
/>