<h1>Seeder, our Data Center</h1>

<div class="row">
  <div class="col-md-4"><NumberBox @title="Libraries" @number={{this.libraries.length}} /></div>
  <div class="col-md-4"><NumberBox @title="Authors" @number={{this.authors.length}} /></div>
  <div class="col-md-4"><NumberBox @title="Books" @number={{this.books.length}} /></div>
</div>

<SeederBlock @sectionTitle="Libraries" @handleGenerate={{fn this.generateLibraries}} @handleDelete={{fn this.deleteLibraries}} @generateReady={{this.libDone}} @deleteReady={{this.libDelDone}} @generateInProgress={{this.generateLibrariesInProgress}} @deleteInProgress={{this.deleteLibrariesInProgress}} />

<SeederBlock @sectionTitle="Authors with Books" @handleGenerate={{this.generateBooksAndAuthors}} @handleDelete={{this.deleteBooksAndAuthors}} @generateReady={{this.authDone}} @deleteReady={{this.authDelDone}} @generateInProgress={{this.generateBooksInProgress}} @deleteInProgress={{this.deleteBooksInProgress}} />