<h2>{{this.title}}</h2>
<div class="row">
  <div class="col-md-6">
    <LibraryItemForm @item={{this.model}} @buttonLabel={{this.buttonLabel}} @handleClick={{action "saveLibrary"}} />
  </div>
  <div class="col-md-4">
    <LibraryItem @item={{this.model}} @badge={{this.model.books.length}}>
      <br>
    </LibraryItem>
  </div>
</div>