<h1>Books</h1>

<table class="table table-bordered table-striped">
  <thead>
  <tr>
    <th class="vtop wider">
      Author
      <br><small class="small not-bold">(Click on the name for editing)</small>
    </th>
    <th>
      Title
      <br><small class="small not-bold">(Click on the title for editing)</small>
    </th>
    <th class="vtop">Release Year</th>
    <th class="vtop">
      Library
      <br><small class="small not-bold">(Click on the name for editing)</small>    </th>
  </tr>
  </thead>
  <tbody>
  {{#each model as |book|}}
    <tr>

      <td>
        {{#if book.isAuthorEditing}}

          {{author-select
            book=book
            authors=authors
            default=book.author
            action='saveAuthor'}}

          <button class="btn btn-danger" {{action 'cancelAuthorEdit' book}}>Cancel</button>

        {{else}}
          <span {{action 'editAuthor' book}}>{{book.author.name}}</span>
        {{/if}}
      </td>

      <td>
        {{#if book.isEditing}}
          <form {{action 'saveBook' book on='submit'}} class="form-inline">
            <div class="input-group">
              {{input value=book.title class='form-control'}}
              <div class="input-group-btn">
                <button type="submit" class="btn btn-success" disabled={{book.isNotValid}}>Save</button>
                <button class="btn btn-danger" {{action 'cancelBookEdit' book}}>Cancel</button>
              </div>
            </div>
          </form>
        {{else}}
          <span {{action 'editBook' book}}>{{book.title}}</span>
        {{/if}}
      </td>

      <td>{{book.releaseYear}}</td>
      <td>

        {{#if book.isLibraryEditing}}

          {{library-select
            book=book
            libraries=libraries
            default=book.library
            action='saveLibrary'}}

          <button class="btn btn-danger" {{action 'cancelLibraryEdit' book}}>Cancel</button>

        {{else}}
          <span {{action 'editLibrary' book}}>{{book.library.name}}</span>
        {{/if}}
      </td>
    </tr>
  {{/each}}
  </tbody>
</table>
