<h1>Contact Page</h1>

<p class="well well-sm">If you have any question or feedback please leave a message with your email address.</p>

<div class="row">
    <div class="col-md-6">

      {{#if responseMessage}}

        <br/>
        <div class="alert alert-success">
            <h4>Thank you! Your message is sent.</h4>
            <p>To: {{model.email}}</p>
            <p>Message: {{model.message}}</p>
            <p>Reference ID: {{model.id}}</p>
        </div>

      {{else}}

        <div class="form-group has-feedback {{if model.isValidEmail 'has-success'}}">
            <label>Your email address*:</label>
          {{input type="email" class="form-control" placeholder="Your email address" value=model.email autofocus="autofocus"}}
          {{#if model.isValidEmail}}<span class="glyphicon glyphicon-ok form-control-feedback"></span>{{/if}}
        </div>
        <div class="form-group has-feedback {{if model.isMessageEnoughLong 'has-success'}}">
            <label>Your message*:</label>
          {{textarea class="form-control" placeholder="Your message. (At least 5 characters.)" rows="5" value=model.message}}
          {{#if model.isMessageEnoughLong}}<span class="glyphicon glyphicon-ok form-control-feedback"></span>{{/if}}
        </div>
        <button class="btn btn-success" {{action 'sendMessage' model}} disabled={{model.isNotValid}}>Send</button>

      {{/if}}

    </div>
</div>